Repository NobbZ/cross_link: changes, and which lefthook commands are due for each by the changed paths.
All: format-ex, format-nix, format-yml

format-ex:
  run: mix format --check-formatted {staged_files}

format-nix:
  run: nix fmt -- --check {staged_files}

format-yml:
  run: yamlfmt -lint

chore: random things
  .envrc
  .formatter.exs
  config/config.exs
  docker-compose.yaml
  lefthook.yml
  lib/cross_link/application.ex
  lib/cross_link/person.ex
  lib/cross_link/repo.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20220907193256_create_people.exs
Due: format-ex, format-yml

chore: update nixpkgs
  .envrc
  .nix/beams.nix
  flake.lock
Due: format-nix

chore: reformat shell def.
  .nix/shell.nix
  flake.lock
  flake.nix
Due: format-nix

chore: yamlfmt only staged files
  lefthook.yml
Due: format-yml

Add .circleci/config.yml
  .circleci/config.yml
Due: format-yml

ci: use sudo
  .circleci/config.yml
Due: format-yml

ci: update apt index before installing
  .circleci/config.yml
Due: format-yml

ci: confirm installation
  .circleci/config.yml
Due: format-yml

ci: check nix install
  .circleci/config.yml
Due: format-yml

ci: change executor
  .circleci/config.yml
Due: format-yml

ci: install curl
  .circleci/config.yml
Due: format-yml

ci: try doing steps
  .circleci/config.yml
Due: format-yml

Path conditions:
  format-ex: any of: *.{ex,exs}
  format-nix: any of: *.nix
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
